@charset "UTF-8";
/* Base */
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

:root {
  --container-width: 1200px;
  --container-padding: 15px;
  --font-main: "Syne", sans-serif;
  --font-accent: "Plus Jakarta Sans", sans-serif;
  --color-black: #000;
  --color-white: #fff;
  --page-bg: #fdfbf5;
  --text-color: #000;
  --text-color-nav: #444;
  --accent: #ac182c;
  --laptop-size: 1199px;
  --tablet-size: 959px;
  --mobile-size: 599px;
}

.dark {
  --page-bg: #252526;
  --text-color: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--page-bg);
  color: var(--text-color);
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 400;
  margin: 30px 65px;
  border: 1px solid #000;
}

.btn {
  padding: 10px 18px;
  color: var(--color-white);
  background: var(--color-black);
  border-radius: 5px;
  text-transform: uppercase;
}
.btn-array {
  padding: 14px 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

h1 {
  font-weight: 600;
  font-size: 80px;
}

h2 {
  font-weight: 600;
  font-size: 40px;
}

h3 {
  font-weight: 500;
  font-size: 30px;
}

h4 {
  font-weight: 600;
}

.none {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.no-scroll {
  overflow-y: hidden;
}

body.no-scroll {
  overflow: hidden;
}

body.mobile-nav--open {
  overflow: hidden;
}

.container {
  padding: 0 var(--container-padding);
  max-width: var(--container-width);
  margin: 0 auto;
}

.container-right {
  /* overflow-x: hidden; */
  padding-left: calc((100% - var(--container-width)) / 2 + var(--container-padding));
}
@media (max-width: var(--laptop-size)) {
  .container-right {
    padding-left: var(--container-padding);
  }
}

.container-left {
  /* overflow-x: hidden; */
  padding-right: calc((100% - var(--container-width)) / 2 + var(--container-padding));
}
@media (max-width: var(--laptop-size)) {
  .container-left {
    padding-right: var(--container-padding);
  }
}

html, body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer {
  margin-top: auto;
}

.footer {
  padding: 60px 0;
  background-color: #e3e3e3;
}

/* Blocks */
.clients {
  padding: 35px 0;
}

.clients-wrapper {
  border-bottom: 1px solid var(--text-color);
  padding-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.clients-wrapper h4 {
  line-height: 1.6;
}
.clients-wrapper__line {
  height: 100px;
  width: 0px;
  border: 1px solid #000;
}

.clients-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

.footer {
  background-color: rgb(62, 62, 62);
  padding: 50px 0;
  font-size: 32px;
  color: #fff;
}
.footer h1 {
  font-size: 32px;
}
@media (max-width: 1200px) {
  .footer {
    font-size: 26px;
  }
}

.header {
  padding-top: 60px;
  padding-bottom: 35px;
}
.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__row div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.header__row {
  border-bottom: 1px solid var(--text-color);
  padding-bottom: 31px;
}

.header-line {
  border: 1px solid #000;
  width: 1px;
  height: 25px;
}

.header-social {
  gap: 15px !important;
}
.header-social img {
  width: 40px;
  height: 40px;
}

.header-content {
  padding-top: 180px;
  padding-bottom: 70px;
  border-bottom: 1px solid var(--text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 34px;
  position: relative;
}

.header-content__img {
  position: absolute;
  left: 0;
  top: 65px;
  width: 350px;
}

.header-content::before {
  content: "";
  position: absolute;
  width: 84px;
  height: 84px;
  top: 100px;
  right: 145px;
  background: url("./../img/header/decor/top.png") no-repeat;
}

.header-content__title {
  max-width: 690px;
  text-align: center;
}

.header-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 130px;
  position: relative;
}
.header-description__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 39px;
}

.header-description::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  bottom: -19px;
  left: -39px;
  background: url("./../img/header/decor/bot.png") no-repeat;
}

.header-scroll {
  position: absolute;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
  bottom: 8%;
  left: 44%;
}

.logo {
  font-size: 32px;
}

.mobile-nav {
  position: fixed;
  top: -100%;
  width: 100%;
  height: 100%;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: rgb(130, 156, 168);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.mobile-nav--open {
  top: 0;
}

.mobile-nav a {
  color: #fff;
}

.mobile-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 20px;
  font-size: 28px;
}
.mobile-nav__list .active {
  opacity: 0.5;
}

.header-nav ul {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.header-nav a {
  color: var(--text-color-nav);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.nav-link--active {
  color: var(--text-color) !important;
  border-bottom: 1px solid var(--text-color);
}

.nav-link--dropdown::after {
  content: "";
  background-image: url("./../img/icon/dropdown.svg");
  width: 10px;
  height: 6px;
}

/* Nav Icon */
.mobile-nav-btn {
  --time: 0.1s;
  --width: 40px;
  --height: 30px;
  --line-height: 4px;
  --spacing: 6px;
  --color: #000;
  --radius: 4px;
  /* Fixed height and width */
  /* height: var(--height); */
  /* width: var(--width); */
  /* Dynamic height and width */
  height: calc(var(--line-height) * 3 + var(--spacing) * 2);
  width: var(--width);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-icon {
  position: relative;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
  border-radius: var(--radius);
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: var(--width);
  height: var(--line-height);
  border-radius: var(--radius);
  background-color: var(--color);
  -webkit-transition: top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
  transition: top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
  transition: transform var(--time) ease-in, top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
}

.nav-icon::before {
  /* top: calc(var(--line-height) * -2); */
  top: calc(-1 * (var(--line-height) + var(--spacing)));
}

.nav-icon::after {
  /* top: calc(var(--line-height) * 2); */
  top: calc(var(--line-height) + var(--spacing));
}

.nav-icon.nav-icon--active {
  background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
  top: 0;
  -webkit-transition: top var(--time) linear, -webkit-transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, -webkit-transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, transform var(--time) ease-in var(--time), -webkit-transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon--active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/* Layout */
.mobile-nav-btn {
  z-index: 999;
  display: none;
}

.services {
  padding: 35px 0;
}

.services-wrapper {
  border-bottom: 1px solid var(--text-color);
  padding-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services-content {
  max-width: 370px;
}
.services-content__description {
  font-size: 14px;
  font-weight: 500;
}
.services-content h2 {
  margin-top: 8px;
  margin-bottom: 23px;
}
.services-content button {
  margin-top: 39px;
}

.services-list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 85px;
  -webkit-column-gap: 120px;
     -moz-column-gap: 120px;
          column-gap: 120px;
}
.services-list__block {
  max-width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 19px;
}
.services-list__img {
  margin-top: 12px;
}
.services-list__img img {
  max-width: 70px;
}
.services-list__content p {
  margin-top: 5px;
  margin-bottom: 25px;
}
.services-list__content a {
  font-weight: 600;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  color: var(--text-color);
}

.services-list::after {
  content: "";
  position: absolute;
  height: 403px;
  width: 1px;
  background-image: url("./../img/services/decor/line-vertical.png");
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.services-list::before {
  content: "";
  position: absolute;
  height: 1px;
  max-width: 670px;
  width: 100%;
  background-image: url("./../img/services/decor/line-horizon.png");
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.projects {
  padding: 35px 0;
}

.projects-wrapper {
  border-bottom: 1px solid var(--text-color);
  padding-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.projects-wrapper__line {
  width: 1px;
  background: var(--color-black);
}

.projects-content {
  max-width: 370px;
}
.projects-content__description {
  font-size: 14px;
  font-weight: 500;
}
.projects-content h2 {
  margin-top: 8px;
  margin-bottom: 23px;
}
.projects-content button {
  margin-top: 39px;
}

.projects-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  max-width: 600px;
  width: 100%;
}
.projects-list__block {
  background-color: var(--color-black);
  border-radius: 15px;
}
.projects-list__block h4 {
  color: var(--color-white);
  font-size: 24px;
  line-height: 1.4;
}
.projects-list__img {
  border-radius: 15px;
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: height 0.3s ease, opacity 0.3s ease;
  transition: height 0.3s ease, opacity 0.3s ease;
  opacity: 0.5; /* Полупрозрачный по умолчанию */
}
.projects-list__img--active {
  height: 300px;
  opacity: 1; /* Полная непрозрачность для активного элемента */
}
.projects-list__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.projects-list__btn {
  background-color: var(--color-white);
  border-radius: 3px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  padding: 7px 15px;
}