.clients {
    padding: 35px 0;
}

.clients-wrapper {
    border-bottom: 1px solid var(--text-color);
    padding-bottom: 70px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    h4 {
        line-height: 1.6;
    }

    &__line {
        height: 100px;
        width: 0px;
        border: 1px solid #000;
    }
}

.clients-img {
    display: flex;
    align-items: center;
    gap: 50px;
}
