.header {
	padding-top: 60px;
	padding-bottom: 35px;

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;

		div {
			display: flex;
			align-items: center;
			gap: 30px;
		}
	}
}

.header__row {
	border-bottom: 1px solid var(--text-color);
	padding-bottom: 31px;
}

.header-line {
	border: 1px solid #000;
	width: 1px;
	height: 25px;
}

.header-social {
	gap: 15px !important;
	img {
		width: 40px;
		height: 40px;
	}
}

.header-content {
	padding-top: 180px;
	padding-bottom: 70px;
	border-bottom: 1px solid var(--text-color);

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 34px;

	position: relative;
}
.header-content__img {
	position: absolute;
	left: 0;
	top: 65px;
	width: 350px;
}
.header-content::before {
	content: "";
	position: absolute;

	width: 84px;
	height: 84px;
	top: 100px;
	right: 145px;
	background: url("./../img/header/decor/top.png") no-repeat;
}

.header-content__title {
	max-width: 690px;
	text-align: center;
}
.header-description {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 130px;

	position: relative;

	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 39px;
	}
}
.header-description::before {
	content: "";
	position: absolute;

	width: 80px;
	height: 80px;
	bottom: -19px;
	left: -39px;
	background: url("./../img/header/decor/bot.png") no-repeat;
}
.header-scroll {
	position: absolute;
	transform: rotate(270deg);

	display: flex;
	align-items: center;
	gap: 7px;
	bottom: 8%;
	left: 44%;
}
