.header-nav {
    ul {
        text-transform: uppercase;

        display: flex;
        align-items: center;
        gap: 30px;
    }
    a {
        color: var(--text-color-nav);
        display: flex;
        align-items: center;
        gap: 5px;
    }
}
.nav-link--active {
    color: var(--text-color) !important;
    border-bottom: 1px solid var(--text-color);
}

.nav-link--dropdown::after {
    content: "";
    background-image: url("./../img/icon/dropdown.svg");
    width: 10px;
    height: 6px;
}
